modules = ["python-3.12"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd telegram_bot && python3 main.py"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 8080
externalPort = 80

[userenv]

[userenv.shared]
WEBAPP_URL = "https://f89c1c19-da70-4dc7-9f64-8c1403b50e2e-00-1vnxwov1fowqa.pike.replit.dev"
